$font-family-georgia: Georgia, 'Times New Roman', Times, serif;      
$font-family-arial: Arial, Helvetica, sans-serif;
$background-image: url(../../../assets/images/start-screen-gradient-background.jpg);
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-grey: #cdcdcd;
$color-grey-light: #f6f6f6;

* {
    box-sizing: border-box;
    font-family: $font-family-georgia;
    font-weight: 400;      
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    max-width: 2160px;
    margin: auto;
}

.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: rgba(41, 41, 41, 0.6);
}

header {
    background-image: $background-image;
    background-size: cover;
}

.header-container {
    display: flex;
    padding: 0 25px 20px 40px;
}

a {
    text-decoration: none;
    color: $color-grey;
    font-size: 15px;
    line-height: 24px;
    font-family: $font-family-arial;
}

h1 {
    font-size: 32px;
    line-height: 35.2px;
    color: $color-primary;
    margin-bottom: 10px;
    margin-top: 21px;
    letter-spacing: 1.8px;
}

.logo_subtitle {
    font-size: 13px;
    line-height: 14.95px;
    color: #fff;
    font-family: $font-family-arial;
    font-weight: 400;
    letter-spacing: 1.25px;
    margin-left: 5px;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    margin-top: 28px;
    position: fixed;
    right: 20px;
    cursor: pointer;
}

.ad-menu {
  width: 45px;
  height: 4px;
  background-color: #F1CDB3;
}

nav {
    margin-left: auto;
    padding-top: 7px;
}

li {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    float: left;
    margin: 17.5px;
    font-size: 15px;
    line-height: 24px;
}

.li:hover {
    color: #fafafa;
}

.one{
    border-bottom: 3px solid $color-primary;
    color: #fafafa;
}

.first-section {
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section-div {
    float: left;
    width: 460px;
    margin: 15% 30px 0 40px;
}

h2 {
    font-size: 44px;
    color: #fff;
}

.paragragh_I {
    font-size: 15px;
    line-height: 24px;
    color: $color-grey;
    font-family: $font-family-arial;
    margin-bottom: 40px;
}

.btn-parI {
    margin-top: 42px;
    letter-spacing: 1px;
}

.dog {
    padding-top: 60px;
    margin-left: auto;
    display: flex;
}

.bt {      
    color: #292929;
    font-size: 17px;
    line-height: 22.1px;
    font-family: $font-family-georgia;
}

.btn {
    padding: 15px 45px;
    background-color: $color-primary;
    border-radius: 100px;
    cursor: pointer;
}

.btn:hover {
    background-color: $color-primary-light;
}

h3 {
    font-size: 35px;
    line-height: 45.5px;
    color: #545454;
}

.about-pets-text {
    width: 40%;
}

.paragrahg_II {
    font-size: 15px;
    line-height: 24px;
    font-family: $font-family-arial;
}

.h31 {
    letter-spacing: 2px;
    margin-top: 0;
}

.second-section-div {
    margin: 60px 0 40px 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section3 {
    background-color: $color-grey-light;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h32,
.h33 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: 2.1px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.cards-cont {
    display: flex;
    justify-content: center;
}
.arrow {
    padding: 21.5px 17.5px;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    cursor: pointer;
}

.learn-more {
    padding: 12px 27px;
    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 17px;
    cursor: pointer;
}

.arrow:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.btn-o {
    margin: 60px;
}

.href {
    color: #292929;
    font-size: 17px;
    margin-left: 2px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    width: 270px;
    height: 435px;
}

.card:nth-child(2) {
    margin-left: 90px;
    margin-right: 90px;
}

.card:hover {    
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    & .learn-more {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
}

.img-card {
    border-radius: 10px;
}

.name {
    font-size: 20px;
    line-height: 22.72px;
    color: #545454;
    margin: 30px 0;
    letter-spacing: 1.3px;
    user-select: none;
}

#help {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bloc-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 120px;
    column-gap: 120px;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

h4 {
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    margin-top: 30px;
    letter-spacing: 1.15px;
}

.pet-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.donation {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h34 {
    letter-spacing: 2.1px;
    margin: 0;
}

.don-dog {
    margin: 60px 0;
}

.cred-card {
    color: #000000;
    background-color: #F1CDB3;
    width: 330px;
    height: 43px;
    border-radius: 9px;
    display: flex;
    margin-top: 19px;
    margin-bottom: 19px;
    letter-spacing: 1.2px;
    align-items: center;
    justify-content: space-evenly;
}

.cred-card:hover {
    background-color: $color-primary-light;
}

.cred-cardi {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-family: $font-family-georgia;
}

footer {
    display: grid;
    min-height: 350px;
    width: 100%;
    background-image: $background-image;
    background-size: cover;
}

.footer-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacts {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.location {
    width: 302px;
}

.loc {
    font-size: 20px;
    color: $color-primary;
    font-family: $font-family-georgia;
    letter-spacing: 1.1px;
}

.loc1 {
    margin-bottom: 40px;
}

.im {
    margin-right: 20px;
}

.white {
    color: #fff;
    letter-spacing: 2.25px;
    margin-top: 55px;
}

.white2 {
    margin-bottom: 32px;
}

.footer-dog {
    margin-top: 40px;
}

.im {
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}

.im1 {
    background-image: url(../../../assets/svg/mail.svg);
    width: 40px;
    height: 32px;
}

.im2 {
    background-image: url(../../../assets/svg/phone.svg);
    width: 40px;
    height: 32px;
}

.im3 {
    background-image: url(../../../assets/svg/pin.svg);
    min-width: 22px;
    height: 32px;
}

.on {
    display: flex;
    align-items: center;
}

.loc2 {
    margin-bottom: 32.5px;
}

.modal {
    display: none;
    position: fixed;
    left: calc(50% - 475px);
    top: calc(50% - 240px);
    width: 950px;
    height: 554px;
}

.modal-button {
    position: absolute;
    border: 2px solid $color-primary;
    border-radius: 50px;
    color: #000;
    background-color: transparent;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -45px;
    right: -10px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.overflow:hover .modal-button {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
    cursor: pointer;
}

.modal-window {
    display: flex;
    background: #FAFAFA;
    width: 900px;
    height: 500px;
    border-radius: 10px;
}

.image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.content {
    display: flex
    ;
        margin-top: 50px;
        margin-left: 29px;
        width: 351px;
        height: 362px;
        flex-direction: column;
        justify-content: space-between;
}

.pet-name {
    font-size: 35px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}

.breed {
    margin: 0 1px;
    font-size: 20px;
    letter-spacing: 0.06em;
}

.list {
    display: flex;
    flex-direction: column;
}

.description {
    margin: 40px 1px;
    font-size: 15px;
    line-height: 17.125px;
    letter-spacing: 0.06em;
    width: 350px;
}

.span-li {
    font-weight: bold;
}

.list-item {
    font-family: var(--font-family-georgia);
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 0;
    margin-left: 15px;
}

.list-item:nth-last-child{
    margin-bottom: 0;
}